.container {
    display: grid;
    grid-template-columns: 50% auto;
}
.col {
    padding: .4em 1.3em;
}
.color-dark {
    background:rgb(128, 0, 38);
}
.color-light {
    background:rgb(255, 157, 0);
}

input.txt {
    border: 0;
    padding: 1em;
    width: 50%;
    margin-bottom: 2em;
}
input.btn {
    border: 0;
    display:block;
    padding:1em 3em;
    background:red;
    color:white;
    margin-bottom:1em;
    cursor:pointer;
}
.life-container {
    background:red;
    font-weight:bold;
    width: 50%;
    border: 0;
    padding: 1em;
    cursor:pointer;
}
