html {
    font-size: 62,5%;
    
}

#wrapper {
    font-family: 'Times New Roman', Times, serif;
    /*max-width: 60rem;/*leveyden määritys*/
    background-image: url("./image/grunge.png");
    background-position: top left;
    background-repeat: repeat-x;
    background-color:#FCFAF5;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 960px;
}
#wrapper > * {
    flex-basis: 100%;
    flex-grow: 1;
}

#special{
    
    font-size: 18px;
    font-family: sans-serif;
    background-color: #5F8288;
    background-image: url("./image/special-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    color: white;
    padding: 10px;
    
}  
.ab a  {
    opacity: 0.3; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
 
.ab b {
    text-transform: uppercase;
    font-weight: bold; 
}


.navigointi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: solid rgba(0, 0, 0, 0.3);
    list-style-type: none;
}

.navigointi > * {
    flex-grow: 1;
    flex-basis: 0; 
    padding: 10px;
}

.navigointi a {
    text-decoration: none;
    }

.navcolor {
    color: black;
}

.navblack {
    color:rgba(0, 0, 0, 0.3);
}
.bold {
    font-weight: bold;
}
.allcaps {
    text-transform: uppercase;
}

.rivinvaihto {
    display: block;
} 

.main-text2 {
    font-size: 20px;
}

.bluetextlink {
    color: #4AB4FF;
    
}


#pretzels img
{
  width: 100%;
  float: left;
}

figure img 
{ 
    max-width: 100%;
}

hr {
    margin-bottom: 10px;
}
hr1 {
    margin-bottom: 10px;
}
.callout {
    background-color:#F7EBC3;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.borderi {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ourpretzels {
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-type: none;
 }



#main {
    
    flex-basis: 60%;
    box-sizing: border-box;
    padding: 10px;
    
}

#sidebar {
    flex-basis: 40%;
    box-sizing: border-box;
}

.footer {
    opacity: 0.3;
    text-align: center;
    clear: both;
}
h2, p {
    padding: 10px 0;
}



/*tablet*/
@media screen and (min-width: 551px) and (max-width: 800px) {
    #main {
        flex-basis: 100%;
    }
    #sidebar {
       
        flex-basis: 100%;
    }
    .tablet {
        display: none;
    }
}

/*mobiili*/
@media screen and (max-width: 550px) {

    #main {
        flex-basis: 100%;
    }
    #sidebar {
       
        flex-basis: 100%;
    }
    .navigointi2 {
        flex-basis: 100%;
        text-align: center;

    }
    .tablet {
        display: none;
    }
    
   
}