

body {
    background-color:#028A86;
    font-family: Gotham, Helvetica,Arial, sans-serif;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.wrapper > * {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 100%;
}

.header {
    background-color: gold;
}

.main {
    background-color:darkorange;
    padding: 0;
}

.main p{
    padding: 10px;
}

.aside-1 {
    background-color:mediumseagreen;
}

.aside-2 {
    background-color:seagreen;
}
.footer {
    background-color:lightgreen;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav > * {
    padding: 10px;
    flex: 1 1 0;
    
}

@media screen and (min-width: 426px) {
    .wrapper{
        flex-direction: row;
    }
    .aside-1 {
        flex-basis: auto;
    }
    .aside-2 {
        flex-basis: auto;
    }
}
.navigationbar {
    padding: 0;
}
.numbers {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
background-color: white;
}

.numbers > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    text-align: center;
    border: solid black 1px;
    }
.some {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    }
        
.some > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 2rem;
    }

.facebook
{
    background-color: mediumblue;
}
.twitter
{
    background-color: #1DA1F2;
}

.mail
{
    background-color:#757575;
}
@media screen and (min-width: 769px) {
    .aside-1 {
        order: 1;
        flex-basis: 0px;
    }
    .main {
        order: 2;
        flex-basis: 400px;
    }
    .aside-2 {
        order: 3;
        flex-basis: 0px;
    }
    .footer {
        order: 4;
    }
}